// Specific CSS for your home-page -> Banner and Hero
.banner {
  display: flex;
  align-content: center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 92vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn {
  color: $blue;
  padding: 16px;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid $blue;
  border-radius: 5px;
}
