.payments-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media screen and (max-width: 1200px) {
  .payments-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .payments-grid {
    grid-template-columns: 1fr;
  }
}

