<%= link_to client, class: "client-link" do %>
  <div class="client-card">
    <div class="client-infos">
      <div class="client-card-info">
        <div class="d-flex justify-content-between mb-1 client-upper">
          <h5>Name: <span class="info"><%= client.name  %></span></h5>
        </div>
        <h5>client from: <span class="info-client"><%= client %></span></h5>
      </div>
    </div>
  </div>
<% end %>
