
  <div class="clients-index container">
  <h3 class="my-3">Here are your current clients:</h3>
    <div class="payments-grid my-3">
      <%= render partial: 'client', collection: @clients %>
    </div>
  </div>

