<div class="container">
  <div class="client-show my-3">
    <h3><%= @client.name %></h3>
    <div class="payments-index container">
    <div class="payments-grid my-3">
      <%= render partial: 'payments/payment', collection: @payments %>
    </div>
  </div>
  </div>
</div>
