<div class="banner mb-1" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/artsy_1.jpeg);">
  <div class="container banner-content">
    <h1>Freelance Helper is here for you!</h1>
    <p>We help you answer financial questions you didn't even know you had.</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-signup'  %>
  </div>
</div>
