<div class="container my-3 hero">
  <div class="row hero-row">
    <div class="col-sm-12 col-md-6">
      <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/assets/street_1.jpeg)">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="hero-text">
        <h3>Discover your own work</h3>
        <p>Freelancers usually don't have the time and energy to organize their finances. We are here to help you do that!</p>
        <p>With Freelance Helper, we give you crystal clear information about your own finances!</p>
      </div>
    </div>
  </div>
  <div class="row hero-row">
    <div>

    </div>
  </div>
</div>
