<div class="container hero">
  <div class="row my-3 hero-row">
    <div class="col-sm-12 col-md-6">
      <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/assets/street_1.jpeg)">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="hero-text">
        <h3>Discover your own work</h3>
        <p>Freelancers usually don't have the time and energy to organize their finances. We are here to help you do that!</p>
        <p>With Freelance Helper, we give you crystal clear information about your own finances!</p>
      </div>
    </div>
  </div>

  <div class="row my-3 hero-row">
    <div class="col-sm-12 col-md-6">
      <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/assets/hero-card-1.jpeg)">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="hero-text">
        <h3>Clean information and relevant answers</h3>
        <p>Making the right questions about your own financial life is hard enough. Getting the right answers is even harder!</p>
        <p>Our job is to ask these questions for you AND supply you information rich answers.</p>
      </div>
    </div>
  </div>
</div>
