<div class='container'>
  <h1>Here is your critical information!</h1>
  <div class='justify-content-center'>
    <h4 class="my-3">Amount per client:</h4>
    <%= pie_chart @clients %>

    <h4 class="my-3">Amount per month:</h4>
    <%= line_chart @payments %>
  </div>
</div>

