<div class="container payment-form">
  <%= render 'payment_form' %>
  <%= link_to 'Remove Payment', payment_path(@payment), method: :delete, data: {confirm: 'Are you sure you want to remove this payment?'}, class: 'btn btn-danger my-3'  %>
</div>
