<div class="container">
  <h1>Welcome back, <%= current_user.email  %></h1>

  <div class="payments-div container">
    <% @payments.each do |payment|%>
      <%= render 'components/payment_card', payment: payment  %>
    <% end %>
  </div>
  <%= column_chart(a: 9, b: 4, c: 10)%>

</div>
