<div class="container">
  <h1>Welcome back, <%= current_user.email  %></h1>

  <%= line_chart @chart_payments %>
  <div class="payments-index container">
    <div class="payments-grid mb-3">
      <%= render partial: 'payment', collection: @payments %>
    </div>
  </div>
</div>
