.card {
  border: 1px solid gray;
  padding: 16px;
  margin: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background-color: white;
  color: black;
    &:hover {
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,1);
  }
}

.card-name-info {
  color: $gray
}

.card-upper {
  border-bottom: 1px solid black;
  .fas {
    color: $purple;
    background-color: $light-gray;
    font-size: 24px;
    border: 1px solid $rich-black;
    border-radius: 50%;
    padding: 12px;
  }
}

.card-index a {
  text-decoration:none !important;
}


.card-info {
  h5 {
    color: black;
  }
  .info{
    color: gray;
  }
  .info-orange{
    color: $orange;
  }
  .info-blue{
    color: $blue;
  }
}
