.payment-card {
  border: 1px solid gray;
  padding: 16px;
  margin: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background-color: white;
  color: black;
  :hover {
    text-decoration: none;
  }
}



.payment-card-info {
  h5 {
    color: black;
    font-weight: bold;
  }
  .info{
    color: gray;
  }
  .info-project{
    color: $orange;
  }
  .info-client{
    color: $blue;
  }
}
